html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 100;
  font-family: Courier, 'Courier New', monospace;
  font-size: 1.6rem;
  background-image: url(web/back.png);
  color: #020;
}

a {
  color: #c39;
}

main {
  margin: 2rem 0;
  text-align: center;
}
h1 {
  text-align: center;
  background-color: #fff;
}
ul {
    list-style-type: none;
    margin: 50;
    padding: 500;
    overflow: hidden;
    background-color: #B0F7D1;
}

li {
    float: right;
    text-align: center;
    color: white;
    text-decoration: none;
}

h2 {
    float: left;
    display: block;
    color: black;
    background-color: white;
    text-align: center;
    text-decoration: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FFFFFF;
}

#game {
  border: 10px solid white;
}

footer {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
